/* Media query pour les écrans plus petits (par exemple, mobile) */


@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0;

    }

    header img {
        width: 180px;
        margin-left: 30%;
        background: b;
        margin-bottom: 10px;
    }

    header ul {
        background-color: brown;
        color: aliceblue;
        width: 100%;
    }

    header ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header select {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 4em;
    }

    header ul li a {
        margin: 5px 0;
        width: 100%;
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    header ul li a:hover {
        margin: 5px 0;
        width: 100%;
        color: rgba(197, 197, 197, 0.903);
        font-size: 16px;
    }

    /**/
    #fabr h1 {
        font-size: 43px;
        margin-bottom: 6em;
        background-color: rgba(0, 0, 0, 0.369);
        position: relative;
        top: 3em;

    }

    .fabrique {
        width: 90%;
        top: 42%;
        display: block;
    }

    .fabrique div {
        width: 100%;
    }

    .fabrique div h2 {
        font-size: 20px;
        /* Réduire la taille de la police */
    }

    .fabrique div p {
        padding: 0;
        /* Supprimer le rembourrage */
    }

    .fabrique div:nth-child(1) p {
        border-right: none;
        /* Supprimer la bordure droite */
        border-bottom: 4px solid white;
        /* Ajouter une bordure en bas pour séparer les sections */
        padding: 0 0 2em 0;
        /* Ajuster le rembourrage */
    }




    /* SECTION HISTOIRE*/

section{
    display: block;

}


    #petite-histoire h2 {
        font-size: 34px;
        margin: 2rem;
    }

    #petite-histoire .histoire p {
        width: 100%;
    }

    .histoire {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .histoire div {
        width: 100%;
    }
    #petite-histoire h3 {
        font-size: 24px;
        margin: 2rem;
    }

    .histoire .texte {
        left: 0%;
        width: auto;
        padding: 10px 0;
        margin: 8.4em 0;
        z-index: 22;
        font-size: 22px;
    }

    .histoire .ouverture {
        width: 100%;
    }


    /* FIN SECTION HISTOIRE*/
}