* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif Arial, Helvetica, sans-serif;
}

body{
    background-color: #f8f8f8;
    min-height: 100vh;   
    font-size: 16px;
}
.banniere{
    background-image: url(images/26.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    position: relative;
    padding-top: 9%;
    padding-left: 8%;
}
.banniere::before{
    content: '';
    background-color: #000000;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    z-index: 1;
}

.banniere p, .banniere h1 {
    position: relative;
    color: #ffffff;
    z-index: 2;
    padding-bottom: 15px;
}
h1{
    font-size: 40px;
}
.banniere button{
    position: relative;
    z-index: 2;
    background-color: #ce0033;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    width: 12em; 
    height: 3.5em;
}
main{
    justify-content: center;
}
h2, h3{
    color: #ce0033;
}
h2{
    font-size: 3em;
    text-align: center;
}
h3{
    font-size: 2em;
    padding: 20px;
}
.actualite{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left:3.5% ;
    
    width: 80%;
}
.image-act p{
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    padding-bottom: 8px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 200px;
    margin-top: -10px;
    position: absolute;
    background-color: #ce0033;
}
.image-act p span{
    font-size: 10px;
}
.img-actualite{
    width: 20vw;
    height: 10vw;
    border-radius: 10px;
}
.total-actualite{
    padding: 20px;

}
.actualite-1{
    font-weight: bold;
}
h4{
    color: #ce0033;
    font-size: 1.5em;
    text-align: right;
}
h4 span{
    color: #fff;
    background-color: #ce0033;
    padding: 5px;
    border-radius: 50%;
}
.decouverte{
    background-image:linear-gradient(#5144443e, #514444b1) , url(images/35.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    padding-top: 8%;
    padding-left: 8%;
    margin-top: 50px;
    color: white;
}
.decouverte-h1{
    font-size: 5em;
    padding-top: 150px;
}
.decouverte p{
    font-size: 20px;
}
.decouverte-chiffre{
    background-image:  url(images/decouverte.png);
    display: flex;
    position: absolute;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    margin-top:-50px;
    margin-left: 5%;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}
h5{
    font-size: 3em;
}
.apprenant{
    width: 90%;
    margin-top: 100px;
    display: flex;
    margin-left: 5%;
}
.info-apprenant h3{
    padding-top: 70px;
    border-bottom: solid 2px #000;
}
.info-apprenant p{
    padding-top: 150px;
}
.card-apprenant{
    border: solid 10px #5f5e5e3a;
    width: 500px;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-left: 70px;
    margin-top: 70px;
    
}
.card-apprenant-1{
    border: solid 10px #5f5e5e3a;
    width: 500px;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-right: 70px;
    margin-top: 70px;
    
}
.card-apprenant-1 p{
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
    
}
.card-apprenant p{
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
    
}
.card-apprenant img{
    border-bottom: solid 4px #ce0033;
    margin-right: 45px;

}
.ep-img{
    margin-left: 8%;
}
